*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
}

.container{
    background: white;
    padding:30px;
    border-radius: 10px;
    text-align: center;
    width:350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
    cursor:ppointer;
}


#weatherResult{
    margin-top:20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: darkblue;
}

#weatherResult p {
    color: black;
}